<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.shorturl.repository.ShortURLRepository">
    <select id="findURLRaw">
        SELECT
            *
        FROM
            url_data
        WHERE url_raw = #{urlRaw}
    </select>
    <insert id="saveURL" parameterType="com.test.shorturl.entity.URL">
        INSERT INTO
            url_data (url_raw, url_encoded)
        VALUES
            (#{urlRaw}, #{urlEncoded})
    </insert>
</mapper>